body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #333;
}

header {
    background-color: #000000; /* Purple */
    color: #9d5bcf;
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-family: 'Lora', serif;
    font-size: 2.0em;
    margin: 0;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    font-family: 'Lora', serif;
    color: #8E44AD; /* Purple */
}

.intro, .who-are-we, .why-we-started, .our-promise {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #8E44AD; /* Purple */
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
