body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    padding: 20px;
    color: rgb(129, 55, 124);
    text-align: center;
}

.container {
    display: flex;
}

.sidebar {
    width: 18%;
    padding: 18px;
    background-color: #a07999;
    height: 90vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.sidebar h3, .sidebar h4 {
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.main-content {
    width: 60%;
    padding: 20px;
}

.sort-section {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    border: 1px solid #c9c7c7;
    margin: 15px;
    padding: 20px;
    text-align: center;
    width: 25%;
}

.product img {
    width: 100%;
    height: auto;
}

.product h2 {
    font-size: 1em;
    margin: 10px 0;
}

.price {
    font-size: 1em;
    color: black;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 4px;
    cursor: pointer;
}

.pagination a.active {
    background-color: black;
    color: white;
}

.pagination a:hover {
    background-color: #c9c7c7;
}
